@import "../../styles/colors.styl";

.input {
  display: flex;
  flex-direction: column;

  &__field {
    padding: 5px 0;
    color: $text-default;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid $border-default;

    &::placeholder {
      color: $text-secondary;
    }

    &:focus {
      border-color: $border-prime;
    }

    &_invalid {
      border-color: $error-color;
    }
  }

  &__error {
    display: none;
    color: $error-color;
    font-size: 12px;
    padding-top: 5px;
  }

  &_error {
    .input__field {
      border-color: $error-color !important;
    }

    .input__error {
      display: block;
    }
  }

  &__label + &__field {
    margin-top: 5px;
  }

  &__label {
    color: $text-prime;
    font-size: 14px;
    font-weight: bold;
  }
}
