<div class="chat-messaging-area {{#if isChatSelected}}chat-messaging-area_enabled{{/if}}">
  <div class="chat-messaging-area__content">
    <div class="chat-messaging-area__header">
      <div class="chat-messaging-area__avatar">{{{avatar}}}</div>
      <div class="chat-messaging-area__name">{{name}}</div>
      <div>{{{settings}}}</div>
    </div>
    <div class="chat-messaging-area__main"></div>
    <div class="chat-messaging-area__footer">{{{messageInput}}}</div>
  </div>
  <div class="chat-messaging-area__placeholder">Выберите чат, чтобы отправить сообщение</div>
</div>
