@import "../../styles/colors.styl";

.initial-form {
  width: 450px;
  padding: 60px 45px 35px;
  background-color: $background-dark;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 0 rgba(0 0 0 .3);

  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    font-size:24px;
    font-weight: bold;
    color: #fff;
  }

  &__main {
    min-height: 300px;
    margin-bottom: 60px;
  }

  &__field + &__field {
    margin-top: 35px;
  }

  &__action {
    display: flex;
    justify-content: center;
  }

  &__action + &__action {
    margin-top: 15px;
  }
}
