.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.code {
  font-size: 64px;
  color: $text-default;
}

.message {
  margin-top: 30px;
  font-size: 36px;
  color: $text-default;
}

.image {
  margin: 60px auto;
  width: 226px;
  height: 352px;

  img {
    display: block;
    width: 100%;
  }
}
