@import "../../../../styles/colors.styl";

.root {
  height: 100vh;
  overflow-y: auto;
  background-color: $background-dark;
}

.header {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 20px;
  height: 80px;
  background-color: $background-light;
  border-bottom: 1px solid $border-default;
}

.profile {
  width: 60px;
  height: 60px;

  img {
    width: 100%;
    border-radius: 50%;
  }

  &:hover img {
    outline: 3px solid $border-prime;
  }
}
