@import '../../styles/colors.styl';

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
  width: 400px;
  padding: 40px;
  margin: 200px auto 0;
  background-color: $background-dark;
  border-radius: 15px;
  border: 2px solid #20262A;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.30);
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
