<div class="chat-aside-area">
  <div class="chat-aside-area__header">
    <div class="chat-aside-area__profile">{{{profileAvatar}}}</div>
    <div class="chat-aside-area__chat-creation">{{{createChatAction}}}</div>
  </div>
  <div>{{{chatsList}}}</div>
</div>
