.root {
  position: relative;
  min-height: 100vh;
  background-color: $background-light;
}

.header {
  padding: 30px;
}

.main {

}

@import "../../styles/colors.styl";

.profile-page {
  position: relative;
  min-height: 100vh;
  background-color: $background-light;

  &__header {
    padding: 30px;
  }


  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form {
    margin: 75px auto;
  }
}
