<form class="message-input">
  <div class="message-input__text-field">
    <input name="message" type="text" class="message-input__input" placeholder="Введите сообщение" autocomplete="off" />
  </div>
  <div class="message-input__button">
    {{{button}}}
  </div>
</form>
