$background-light = #323739;
$background-dark = #131d20;
$background-grey1 = #666565;
$background-prime = #0b8579;
$background-prime-bright = #009688;

$text-prime = #0b8579;
$text-default = #fff;
$text-secondary = #c3c4c6;

$border-default = #c1c1c3;
$border-prime = #0b8579;

$error-color = #ff0303;
