<div class="profile-page">
  <div class="profile-page__header">
    <a href="/chat" class="profile-page__go-back">Назад</a>
  </div>
  <div class="profile-page__main">
    <div class="profile-page__photo">
      {{{photo}}}
    </div>
    <div class="profile-page__form">
      {{{form}}}
    </div>
  </div>
</div>