<div class="chat-page">
    <h1 class="chat-page__title">Заглушка для страницы со списком чатов и лентой переписки</h1>
    <div>
        <h2>Навигация:</h2>
        <ul class="chat-page__list">
            <li><a href="/chat">Чаты</a></li>
            <li><a href="/authorization">Авторизация</a></li>
            <li><a href="/registration">Регистрация</a></li>
            <li><a href="/profile">Профиль</a></li>
            <li><a href="/404">404</a></li>
            <li><a href="/500">500</a></li>
        </ul>
    </div>
</div>
