@import "../../styles/colors.styl";

.chat-page {
  display: flex;
  background-color: $background-dark;

  &__aside {
    min-width: 450px;
    border-right: 1px solid $border-default;
  }

  &__main {
    min-width: 600px;
    flex-grow: 1;
  }
}
