@import "../../styles/colors.styl";

.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

  &:active
  &:focus
  &:hover {
    outline: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.prime {
  color: $text-prime;
}

.danger {
  color: $error-color;
}
