<div class="profile-photo">
  <div class="profile-photo__image">
    <img src="{{photoUrl}}" alt="Profile photo" />
    <div class="profile-photo__image-action">Поменять аватар</div>
  </div>
  <div class="profile-photo__caption">{{caption}}</div>
</div>